@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico.eot');
    src: url('fonts/pacifico.eot?#iefix') format('embedded-opentype'),
         url('fonts/pacifico.woff') format('woff'),
         url('fonts/pacifico.ttf') format('truetype'),
         url('fonts/pacifico.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone_kaffeesatzregular';
    src: url('fonts/yanonekaffeesatz-regular.eot');
    src: url('fonts/yanonekaffeesatz-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/yanonekaffeesatz-regular.woff') format('woff'),
         url('fonts/yanonekaffeesatz-regular.ttf') format('truetype'),
         url('fonts/yanonekaffeesatz-regular.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'yanone_kaffeesatzlight';
    src: url('fonts/yanonekaffeesatz-light.eot');
    src: url('fonts/yanonekaffeesatz-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/yanonekaffeesatz-light.woff') format('woff'),
         url('fonts/yanonekaffeesatz-light.ttf') format('truetype'),
         url('fonts/yanonekaffeesatz-light.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Helvetica, Arial, Sans-Serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}


h1{
	font-size: 6em;	
}

p{
	font-size: 3em;
}

.section{
	text-align:center;
}

/* Menu */

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}

#menu li.active {
	background: #666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#menu li a {
	text-decoration:none;
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
	color: #444;
	font-size: 1.5em;
}

#menu li.active a:hover {
	color: #444;
}

#menu li:hover {
	background: rgba(255,255,255, 0.8);
}

#menu li a,
#menu li.active a {
	padding: 9px 18px;
	display:block;
}

#menu li.active a {
	color: #fff;
}

#menu{
	background-color: #E74C3C;
	position:fixed;
	top:0;
	left:0;
	height: 9%;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/* Home */

header {
    height: 380px;
    background-color: #E74C3C;
    margin-top: -110px;
}

header h1{
    color: white;
    text-align: center;
    font-size: 6em;
    line-height: 96px;
    padding-top: 210px;
}

header h2 {
    color: white;
    text-align: center;
    font-size: 3em;
}

#my_name {
	font-family: 'pacificoregular', 'script';
	margin-top: 40px;
}

#section0 p:first-of-type {
	font-size: 40px;
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
}

.smallerText {
	font-size: 26px;
	margin-top: 10px;
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
}

.nametag_bottom {
	background-color: #E74C3C;
	height: 340px;
	width: 100%;
	margin-top: 100px;
}

/* About Me */

#section1 {
  background: 
    linear-gradient(
      rgba(0,206,209, 0.7), 
      rgba(0,206,209, 0.7)
    ),

    url(imgs/beach.jpg);
}

#section1 h1, #section2 h1, #section3 h1, #section4 h1  {
	font-family: 'pacificoregular', 'script';
	color: #F5F5F5;
}

#section1 p, #section4 p {
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
	font-size: 2em;
	color: #F5F5F5;
}

#section1 img {
	margin-bottom: 40px;
}

/* Skills */

#section2 img {
	width: 30%;
	max-width: 100%;
}

.skills_text {
	width: 90%;
	margin: auto;
}

#section2 p {
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
	font-size: 2em;
	color: #F5F5F5;
}

.skills_description {
	margin-bottom: 3%;
	margin-top: 1%;
}

.list_skills li {
	margin-bottom: 10px;
	display: inline-block;
}

.language {
	width: 10%;
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
	font-size: 1.5em;
	color: #F5F5F5;
	background-color: #34495E;
	margin: auto;
	padding-bottom: 1%;
	padding-top: 0.8%;
	margin-right: 1%;
	border-radius: 3px;
}

/* Projects */

#section3 h1 {
	margin-bottom: 60px;
}

#section3 p {
	font-family: 'yanone_kaffeesatzregular', Sans-Serif;
	font-size: 1.5em;
	color: #F5F5F5;
}

.screenshots img {
	width: 80%;
	max-width: 100%;
	margin-bottom: 20px;
} 

.screenshots p {
	width: 70%;
	margin: 0 auto;
}

.screenshots {
	position: relative;
	width: 100%;
	display: inline-block;
}

.show_icon {
	width: 26%;
	display: inline-block;
}

.hover {
	position: relative;
	width: 54%;
	left: 0;
	top: 0;
}

.hover_in {
	top: -8px;
	-webkit-transition: all .35s ease-out;
  	-moz-transition: all .35s ease-out;
  	-o-transition: all .35s ease-out;
  	transition: all .35s ease-out;
}

.hover_out {
	top: 8px;
	-webkit-transition: all .35s ease-out;
  	-moz-transition: all .35s ease-out;
  	-o-transition: all .35s ease-out;
  	transition: all .35s ease-out;
}

/* Contact */

#section4 {
  background: 
    linear-gradient(
      rgba(52,73,94, 0.8), 
      rgba(52,73,94, 0.8)
    ),

    url(imgs/Instawall.png);
}

#section4 img {
	display: inline-block;
	margin-top: 60px;
	padding: 12px;
	width: 8%;
	max-width: 100%;
	box-shadow: 0px 3px 5px #000;
    -moz-box-shadow: 0px 3px 5px #000;
    -webkit-box-shadow: 0px 3px 5px #000;
}

#section4 img:hover {
    position:relative;
    top: 3px;
	box-shadow: 0px 3px 5px #000;
    -moz-box-shadow: 0px 3px 5px #000;
    -webkit-box-shadow: 0px 3px 5px #000;
    background-color: #FEBF24;
  }

.intro p{
	width: 70%;
	margin: 0 auto;
	font-size: 1.5em;
}

#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}